table {
  width: 980px;
  border-collapse: collapse;
  margin-top: 20px;
}

h1 {
  font-family: Arial;
  text-align: center;
}
#container {
  text-align: center;
  margin-top: 20px;
}

td, th {
  border: 1px solid black;
  padding: 0.5rem;
  text-align:center;
}
img {
  height: 40px;
  width: 40px;
  align: center;
}
